<div class="section section-built">
	<div class="container">
		<div class="built-about">
			<div class="list list-card-built">
			    <div class="card card-built">
			    	<div class="card-title"><h2>Built with High Attention to Details</h2></div>
					<div class="card-description"><p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut<br> fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel<br> scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed<br> consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.<br> Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante </p></div>
			    </div>
			    <div class="card-images"><img src="img/map.png" alt=""></div>		
			</div>
		</div>
	</div>
</div>