<div class="section section-feedback">
	<div class="container">
		<div class="feedback-about">
			<div class="list list-card-feedbeck">
				<div class="card card-feedback">
					<div class="card-description">
						<p>This theme is beautiful, elegant and easy to<br> customize. I’ve been able to build an amazing<br> site in just a minute. Thank you very much for<br> creating this impressive template!</p>
						<p class="card-name">Valeria Boltneva</p>
						<p class="card-title">Director of Acme.Inc</p>
					</div>
					<div class="card-images"><img src="img/testi.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</div>