<div class="section section-example">
    <div class="container">
    	<div class="example-about">
    		<h2 class="primary-title">Looking for the perfect template to use?</h2>
    		<p class="primary-description">Donec id elit non mi porta gravida at eget metus.</p>
    		<div class="list list-card-example">
    			<div class="list-item">
    				<div class="card card-slider">
    					<img src="img/hand.png" alt="">
    					<div class="slider-example">
    						<div class="slider-item"><img src="img/resslide.png" alt=""></div>
    						<div class="slider-item"><img src="img/resslide.png" alt=""></div>
    						<div class="slider-item"><img src="img/resslide.png" alt=""></div>
    					</div>
    				</div>
    			</div>
    			<div class="list-item">
    				<div class="card-example">
    					<div class="card-title"><h2>Responsive Ready</h2></div>
    					<div class="card-description">
    						<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper.</p>
    						<ul class='list-description'>
    							<li class="list-item"><i class="fa fa-check" aria-hidden="true"></i><p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></li>
    							<li class="list-item"><i class="fa fa-check" aria-hidden="true"></i><p>Donec id elit non mi porta gravida at eget metus.</p></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>