{% extends '../layout/_layout.twig' %}

{% block main %}
<div class="section section-main main-light">
	<div class="header-about">
	    <div class="container">
		    <div class="list list-card-header">
		        <div class="list-item">
		            {% block cardheader %}
                    <div class="card-header">
		                <div class="logo dark-logo"><a href="#"><img src="img/dark-logo.png" alt=""></a></div>
	                    <div class="contact contact-dark"><i class="fa fa-phone" aria-hidden="true"></i><p>+62 202 555 0117</p></div>
                    </div>
                    {% endblock %}   
		        </div>
		        <div class="list-item">
		            {% block cardmenu %}
                    <div class="card-menu">
		                <button class="hamburger hamburger--collapse" type="button" aria-label="Menu" >
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
	                    <div class="header-menu">
		                    <ul class="header-list header-list-dark">
		                        <li class="nav-item"><a class="is-active light" href="https://pasateartem.github.io/public/index.html">HOME</a></li>
			                    <li class="nav-item"><a class="light" href="https://pasateartem.github.io/public/aboutus.html">ABOUT US</a></li>
		                        <li class="nav-item"><a class="light" href="https://pasateartem.github.io/public/pricing.html">PRICING</a></li>
		                        <li class="nav-item"><a class="light" href="https://pasateartem.github.io/public/contact.html">CONTACT US</a></li>
			                    <li class="nav-item"><a class="light" href="#">GET STARTED</a></li>
		                    </ul>
		                </div>
                    </div>
                    {% endblock %}   
		        </div>
	        </div>
        </div>
    </div>    
</div>
{% endblock %} 
{% block content %}
<div class="section section-contact">
	<div class="card-map"><img src="img/mapcont.png" alt=""></div>
		<div class="container">
			<div class="contact-about">
				<h2 class="primary-title">Get In Touch With Us</h2>
				<p class="primary-description">We are here to help. Want to learn more about our services?<br>Please get in touch, we'd love to hear from you!</p>
				<div class="list list-card-contact">
				    <div class="list-item">
				    	<div class="panel panel-form-contact">
			    			<div class="form-group-input">
			    			    <input type="text" class="form-control" placeholder="Name">
			    				<input type="email" class="form-control" placeholder="Email">
			    				<input type="phone" class="form-control" placeholder="Phone">     
			    			</div>
			    			<div class="form-group-textarea">    
			    				<textarea  name="Message" id="" cols="30" rows="10" placeholder="Message"></textarea>
			    			</div>
			    			<div class="form-group-actions"><button class="button button-send"><a href="">SEND MESSAGE</a></button></div>
				        </div>
				    </div>
				    <div class="list-item">
				    	<div class="card card-contact">
				    	    <div class="card-title"><strong>HEADQUARTER</strong></div>
				    		<div class="card-adress"><i class="fa fa-map-marker" aria-hidden="true"></i><p>610 Overlook Circle<br>Suite 323<br>Kalamazoo, MI 49009</p></div>
				    		<div class="card-phone"><i class="fa fa-phone" aria-hidden="true"></i><p>+62 202 555 0117</p></div>
				    		<div class="card-email"><i class="fa fa-envelope" aria-hidden="true"></i><span>hi@wapik.com</span></div>
				    	</div>
				    </div>
				</div>
			</div>
	    </div>		
	</div>
</div>
{% endblock %}